# Various caches
*.pyc
__pycache__/
.sass-cache/

# Sublime's project files
*.sublime-project
*.sublime-workspace

# Visual Studio Code settings
/.vscode/

# Pelican stuff
/pelican.pid
/srv.pid
/output/
/output-publish/

/content/drafts
/content/phrase
