---
  layout: layouts/_base.njk
  pagination:
    data: collections.post
    size: 20
    alias: posts
---
<article class="blog">
  <div class="article--list">
  {%- for post in posts | reverse %}
            <section>
              <a href="{{ post.url }}"><h4 class="article--title">{{ post.data.title | safe }}</h4></a>
              <div class="article--meta">
                <span class="article--date">{{ post.data.date | readableDate }}</span>
                ·
                <span class="article--tags">
                  {%- for tag in post.data.tags -%}
                    {% if tag != "post" %}
                      <span class="article--tag"><a href="#">{{ tag }}</a></span>{{ ', ' if not loop.last }}
                    {% endif %}
                  {%- endfor -%}
                </span>
              </div>
              {% if post.data.tagline %}<span class="article--tagline">{{ post.data.tagline | safe }}</span>{% endif %}
              </section>
  {%- endfor %}
  </div>

  <aside>
    Hewwo
  </aside>
</article>
