---
permalink: _headers
---
/*
  X-Frame-Options: SAMEORIGIN
  X-XSS-Protection: 1; mode=block
  X-Content-Type-Options: nosniff
  Referrer-Policy: no-referrer-when-downgrade
  Permissions-Policy: interest-cohort=()

/api/catalogueContent.json
  Access-Control-Allow-Origin: {{ metadata.url }}
