---
  layout: layouts/_base.njk
---

<article class="index">
  <section>
    <h2 class="hello">Hello! 💐</h2>

    <p>My real name is <span class="name">Erika</span> but maybe you know me under the nickname <span class="nickname">Princesseuh</span> 👸, that's okay!</p>

    <p>I'm a web/game developer from Canada 🇨🇦, pleased to meet you! Truth be told, I'm not as interested in programming as I once used to be, however, I'm definitely still a nerd at heart and having your own website is still a really cool thing, so hey, welcome to my website! Feel free to browse around!</p>

    Interested in seeing stuff I worked on? Click <a href="">here for my projects</a>! Wanna read stuff I wrote? Well, lucky you, <a href="">here's my blog</a>! You want to read random stuff I wrote mostly for myself? Well, <a href="">my wiki is right here</a>! 🎉

    <h3>Featured works</h3>
    <div class="featured-works">
    {%- for project in collections.project | featured -%}
      <div>
        <a href="{{ project.url }}">
          {% set cover = "projects/"+ project.data.type + "s/" + project.fileSlug + "/cover.png" %}
          {% cover cover, "Eleventy's logo. 11 ty", undefined %}
          <h4>{{ project.data.title }}</h4>
        </a>
      </div>
    {%- endfor -%}
    </div>

    <div class="latest-content">
      <div class="latest-posts">
        <h3>Latest blog posts</h3>
        {%- for post in collections.post | reverse -%}
          {% if (loop.index <= 3) %}
          <section>
            <a href="{{ post.url }}"><h4 class="article--title">{{ post.data.title | safe }}</h4></a>
            <div class="article--meta">
              <span class="article--date">{{ post.data.date | readableDate }}</span>
              ·
              <span class="article--tags">
                {%- for tag in post.data.tags -%}
                  {% if tag != "post" %}
                    <span class="article--tag"><a href="#">{{ tag }}</a></span>{{ ', ' if not loop.last }}
                  {% endif %}
                {%- endfor -%}
              </span>
            </div>
            {% if post.data.tagline %}<span class="article--tagline">{{ post.data.tagline | safe }}</span>{% endif %}
            </section>
          {% endif %}
        {%- endfor -%}
      </div>

      <div class="latest-wiki">
        <h3>Latest wiki modifications</h3>
      </div>
    </div>
  </section>
</article>
