        <div class="container">
            <p>
                © 2012–2016 Princesseuh<br/>
                <i class="fa fa-font-awesome fa-fw" aria-hidden="true"></i> Icons by <a href="http://fontawesome.io/">Font-Awesome</a>
            </p>
            <p>
                <i class="fa fa-bolt fa-fw" aria-hidden="true"></i> Powered by <a href="http://blog.getpelican.com/">Pelican</a><br/>
                <i class="fa fa-code fa-fw" aria-hidden="true"></i> <a href="#">Source Code</a>
            </p>
        </div>
        {# this could probably be merged with base.html in some ways or another but it's okay #}
