:root {
  --font-size: 18px;
  --line-height: 1.5;
  --page-transition-length: .1s;
  --main-bg-color: #28262C; /**/
  --font-color: #FEFFFE; /**/
  --subtle-font-color: #d8d9d8; /**/
  --alt-bg-color: #201e24; /**/
  --links-hover-color: #F291A0; /**/
  --links-color: #E46370;
  --code-bg-color: #1f1f1f; /**/
  --footer-bg-color: #211f24; /**/
}
