@font-face {
    font-family: 'Cantarell';
    font-style: normal;
    font-weight: 400;
    src: local('Cantarell'),
         url('../theme/fonts/cantarell-regular-webfont.woff2') format('woff2'),
         url('../theme/fonts/cantarell-regular-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Cantarell';
  font-weight: 700;
  src: local('Cantarell'),
        url('../theme/fonts/cantarell-bold-webfont.woff2') format('woff2'),
        url('../theme/fonts/cantarell-bold-webfont.woff') format('woff');
}
