@import '_normalize.css';
@import '_variables.css';

html, body {
  font-size: var(--font-size);
  line-height: var(--line-height);
  background-color: var(--footer-bg-color);
  color: var(--font-color);

  counter-reset: footnotes
}

#app {
  background-color: var(--main-bg-color);
}

a {
  text-decoration: none;
  color: var(--links-color);
  transition: color .1s;

  &:hover {
    text-decoration: underline;
    text-underline-offset: 3px;
    color: var(--links-hover-color)
  }
}

h1, h2, h3, h4, h5 {
  letter-spacing: -0.01em;
}

.wiki--layout {
  max-width: min(1280px, 100%);
  margin: 0 auto;
  display: grid;
  grid-gap: 3%;
  grid-template-columns: 15% 62% 17%;

  aside {
    margin-top: 2.5rem;
    transition: opacity var(--page-transition-length) linear;
  }
}

.on-this-page {
  font-weight: 600;
  margin-bottom: 0.4rem;
}

.current--page {
  font-weight: bolder;
}

.global--navigation {
  margin: 0;
  padding: 0;
  list-style-type: none;

  > li {
    margin-bottom: 1rem;
  }

  .title {
    color: var(--font-color);
    font-weight: bold
  }

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
}

.toc {
  transition: opacity var(--page-transition-length) linear;
  position: sticky;
  top: 2rem;

  ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li > ol {
    padding-left: 0.75rem;
    border-left: 1px solid rgba(146,149,152,.15);
  }

  a {
    color: var(--subtle-font-color);
  }
}

h1, h2, h3, h4, h5 {
  &:hover {
    .anchor-link {
      display: inline;
    }
  }
}

.anchor-link {
  display: none;
}

article {
  transition: opacity var(--page-transition-length) linear;
  margin-bottom: 3rem;

  > * {
    max-width: min(800px, 100%);
    margin: 0 auto;
  }

  &.index > * {
    max-width: min(880px, 100%);
    padding: .7rem 0;
  }

  &.wiki .article--header  {
    margin: 1rem auto 1rem;
  }

  .article--title {
    font-size: 3.5em;
    margin-bottom: 0.75rem;
    margin-top: 0;
    line-height: 1.1;
  }

  .article--tagline {
    line-height: 1.35;
    position: relative;
    top: -4px;
    font-size:1.2rem;
    margin: 0;
  }

  .article--header {
    margin: 1rem auto 2rem;
  }

  .article--meta {
    color: var(--subtle-font-color)
  }

  p, ul, pre {
    margin-bottom: 1em;
  }

  figure {
    margin-top: 1.4rem;
    margin-bottom: 1rem;
    max-width: 100%;
    display: block;
    text-align: center;
  }

  figcaption {
    text-align: center;
    display: block;
    margin: 0.15rem 0;
    font-style: italic;
    color: var(--subtle-font-color);
    font-size: 0.95rem;
  }

  > h1, > h2 {
    margin-top: 1.3rem;
    margin-bottom: 0.6rem
  }

  > h3 {
    margin-bottom: 0.6rem;
  }

  h1 {
    font-size: 2em;
  }

  code:before {
    content: "/!\\ missing style /!\\";
    color:red;
  }

  li > p {
    margin-bottom: 0.5em;
  }

  > iframe {
    margin: 0 auto 1rem;
    display: block;
  }
}

.image-left {
  float: left;
  margin-right: 1.5rem;
  margin-left: .5rem;
  margin-top: .8rem;
  max-width: min-content;
}

.image-right {
  float: right;
  margin-left: 1.5rem;
  margin-right: .5rem;
  margin-top: .8rem;
  max-width: min-content;
}

.article--lastmodified {
  text-align: right;
  display: block;
  color: var(--subtle-font-color);
}

[role="doc-noteref"]::after {
  counter-increment: footnotes;
  content: "["  counter(footnotes)  "]";
  font-size: 0.8rem;
  position: relative;
  top: -6px;
  left: 1px;
  user-select: none;
}

.Footnotes {
  background-color: var(--alt-bg-color);
  border-radius: 4px;
  padding: 0.5rem;
  margin-top: 1rem;
}

.Footnotes__title {
  margin-top: 0;
  margin-bottom: 1rem;
  padding-left: 0.5rem;
}

.Footnotes__list {
  padding-left: 0;
  list-style-position: inside;
  padding: 0 .75rem;
}

.Footnotes__list-item {
  margin-bottom: 0.5rem;

  &:focus {
    color: red;
  }
}

.block-note {
  padding: 0.9rem;
  max-width: 90%;
  background-color: var(--alt-bg-color);
  border-radius: 4px;
  margin-bottom: 1rem;
  margin-top: 1.1rem;

  .block-title {
    display: block;
    font-weight: bold;
    text-align: center;
    padding: 0.5rem 0;
    padding-top: 0rem;
  }

  p:last-of-type {
    margin-bottom: 0;
  }
}

.blog {
  max-width: min(920px, 100%);
  margin: 0 auto;
  margin-top: 1.5rem;
  margin-bottom: 3rem;

  display: flex;
  justify-content: space-around;
  gap: 2rem;

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  .article--list {
    flex-basis: 80%;
  }

  h2 {
    margin: 0;
    margin-bottom: 1rem;
  }

  aside {
    flex-basis: 20%;

    section {
      margin-bottom: 1rem;
    }
  }
}

.pagination--next {
  float: right;
}

.hello {
  font-size: 2em;
  margin: 1rem 0;
}

.name {
  color: var(--links-color);
  font-weight: 700;
}

.nickname {
  color: var(--links-hover-color);
  font-weight: 600;
}

.featured-works {
  margin: .5rem 2.5rem;
  margin-bottom: 1.5rem;
  gap: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  img {
    object-fit: cover;
    object-position: top;
    border-radius: .15rem;
  }

  h4 {
    position: absolute;
    color: var(--font-color);
    bottom: 0;
    margin: 0;
    width: 100%;
    text-align: center;
    line-height: 180px;
    font-size: 1.7em;
    background-color: rgba(242, 145, 160, 0.8 );
    opacity: 0;
    transition: opacity .1s linear;
    border-radius: .15rem;

    &:hover {
      opacity: 1;
    }
  }

  div {
    display: inline-block;
    height: 180px;
    width: calc(50% - 1rem);
    position: relative;
  }
}

.latest-content {
  display: flex;
  justify-content: space-around;
  gap: 1rem;

  .article--list {
    flex-basis: 68%;
  }

  .latest-wiki {
    flex-basis: 32%;
  }
}

.article--list {
  section {
    margin-bottom: 1rem;
  }

  .article--meta {
    margin-bottom: 0.75rem;
  }

  .article--title {
    display: inline-block;
    font-size: 1.3em;
    margin: 0;
  }

  .article--date {
    font-size: 0.9em;
  }

  .article--tagline {
    font-size: 1em;
  }
}

.latest-wiki {
  section {
    margin-bottom: 0.5rem;
  }

  a {
    letter-spacing: -.01em;
    font-weight: 600;
    line-height: 1;
  }

  .latest--date {
    display: block;
    font-size: .9em;
    color: var(--subtle-font-color);
  }
}

#app > header {
  display: flex;
  justify-content: center;
  padding: 0.8rem 0;

  h1 {
    margin: 0;
    display: inline-block;

    color: inherit;
  }

  nav {
    display: inline-block;
    margin-left: 0.5rem;
  }

  div:first-of-type a {
    color: inherit;
    margin-right: 1rem;

    &:hover {
      color: var(--links-hover-color);
      text-decoration: none
    }
  }

  section {
    width: min(1040px, 100%);
    display: flex;
    justify-content: space-between;
    div {
      display: flex;
      align-items: center;
    }
  }
}

.socials {
  display: flex;
  align-items: center;

  > a {
    color: inherit;
    width: 26px;
    height: 26px;
    display: inline-block;
    margin-right: 1.2em;

    &.twitter:hover {
      color: #1DA1F2;
    }

    &.github:hover, &.envelope:hover {
      color: #d8d9d8;
    }
  }
}

#app > footer {
  background-color: var(--footer-bg-color);
  padding: 1.5em 0;
  line-height: 1.2;
  display: flex;
  justify-content: center;

  section {
    width: min(980px, 100%);
    display: flex;
    justify-content: space-between;
  }
}
