<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ title + " - " + metadata.title if title else metadata.title }}</title>

  <link rel="preload" href="/prin.css" as="style">
  <link rel="stylesheet" href="/prin.css">

  <link rel="preload" href="/main.js" as="script">
  <script src="/main.js" defer></script>

  <link rel="icon" type="image/svg+xml" href="/favicon.svg">

  {# Meta stuff #}
  <meta name="og:title" content="{{ title if title else metadata.title}}">
  <meta property="og:site_name" content="princesseuh.dev">
  <meta property="og:url" content="{{ metadata.url }}{{ page.url }}">
  <meta name="twitter:title" content="{{ title if title else metadata.title}}">
  <meta name="twitter:site" content="@_princesseuh">

  {% if tags and 'post' in tags %}
    <meta property="og:image" content="{{ metadata.url }}/{% GenerateSocialImage title %}" />
    <meta name="twitter:image" content="{{ metadata.url }}/{% GenerateSocialImage title %}" />
    <meta name="twitter:card" content="summary_large_image"/>
  {% else %}
    <meta property="og:image" content="{{ metadata.url }}/social-card.png" />
    <meta name="twitter:image" content="{{ metadata.url }}/social-card.png" />
    <meta name="twitter:card" content="summary"/>
  {% endif %}

  {# We still include the style element even if empty so we can add to it through Javascript if needed #}
	<style>
  {% if page.url | getCss | length %}
    {{ page.url | getCss | safe }}
  {% endif %}
  </style>
</head>
<body>
  <div id="app" class="bg-baltic-sea">
    {% include './header.njk' %}

    <main>
      {{ content | safe }}
    </main>

    <footer class="px-6 sm:px-0 py-6 flex justify-center leading-tight bg-darker-skylines">
      <section class="flex justify-between w-footer">
        {% include './socials.njk' %}

        <div>
          Made with <a href="https://www.11ty.dev/">Eleventy</a><br/>
          <a href="https://github.com/Princesseuh/princesseuh.dev">Source Code</a><br/>
          <a href="/settings/">Settings</a>
        </div>
      </section>
    </footer>
  </div>
</body>
</html>
