<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ title + " - " + metadata.title if title else metadata.title }}</title>

  <link rel="preload" href="/prin.css" as="style">
  <link rel="stylesheet" href="/prin.css">

  <link rel="preload" href="/prin2.css" as="style">
  <link rel="stylesheet" href="/prin2.css">

  <link rel="preload" href="/main.js" as="script">
  <script src="/main.js" defer></script>

  <link rel="icon" type="image/svg+xml" href="/favicon.svg">

  {# We still include the style element even if empty so we can add to it through Javascript if needed #}
	<style>
  {% if page.url | getCss | length %}
    {{ page.url | getCss | safe }}
  {% endif %}
  </style>
</head>
<body>
  <div id="app" class="bg-baltic-sea">
    <header class="py-[.8rem] flex justify-center">
      <section class="w-header flex justify-between">
        <div class="flex items-center">
          <h1 class="m-0 inline-block">
            <a class="header-link" href="/">Erika 🌺</a>
          </h1>
          <nav class="inline-block ml-2">
            <a class="header-link" href="/projects/">Projects</a>
            <a class="header-link" href="/articles/">Articles</a>
            <a class="header-link" href="/wiki/">Wiki</a>
            <a class="header-link" href="/catalogue/">Catalogue</a>
            <a class="header-link" href="/about/">About</a>
          </nav>
        </div>
        {% include './socials.njk' %}
      </section>
    </header>

    <main>
      {{ content | safe }}
    </main>

    <footer class="px-6 sm:px-0 py-6 flex justify-center leading-tight bg-darker-skylines">
      <section class="flex justify-between w-footer">
        {% include './socials.njk' %}

        <div>
          Made with <a href="https://www.11ty.dev/">Eleventy</a><br/>
          <a href="https://github.com/Princesseuh/princesseuh.dev">Source Code</a><br/>
          <a href="/settings">Settings</a>
        </div>
      </section>
    </footer>
  </div>
</body>
</html>
