<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title + " - " + metadata.title if title else metadata.title }}</title>

  <link rel="preload" href="/prin.css" as="style">
  <link rel="stylesheet" href="/prin.css">

  {# We still include the style element even if empty so we can add to it through Javascript if needed #}
	<style>
  {% if page.url | getCss | length %}
    {{ page.url | getCss | safe }}
  {% endif %}
  </style>
</head>
<body>
  <div id="app">
    <header>
      <section>
        <div>
          <h1><a href="/">Erika 🌺</a></h1>
          <nav>
            <a href="/projects/">Projects</a>
            <a href="/articles/">Articles</a>
            <a href="/wiki/">Wiki</a>
            <a href="/about/">About</a>
          </nav>
        </div>
        {% include './socials.njk' %}
      </section>
    </header>

    <main>
      {{ content | safe }}
    </main>

    <footer>
      <section>
        {% include './socials.njk' %}

        <div>
          Made with <a href="https://www.11ty.dev/">Eleventy</a><br/>
          <a href="https://github.com/Princesseuh/princesseuh.dev">Source Code</a><br/>
          <a href="/settings">Settings</a>
        </div>
      </section>
    </footer>
  </div>
  <script src="/spa.js" async></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/instant.page/5.1.0/instantpage.min.js" integrity="sha512-1+qUtKoh9XZW7j+6LhRMAyOrgSQKenQ4mluTR+cvxXjP1Z54RxZuzstR/H9kgPXQsVB8IW7DMDFUJpzLjvhGSQ==" crossorigin="anonymous" async></script>
</body>
</html>
