---
layout: layouts/_base.njk
---

<article class="w-index mx-auto mt-6">
  <a href="/catalogue">&lt;&lt; Back to Catalogue</a>
  <header class="flex justify-between gap-4 px-4 my-4">
    {% set cover = "." + page.filePathStem | replace("catalogue/", "catalogue/assets/") + ".jpg" %}
    {% set defaultAlt = title + "'s cover" %}
    {% catalogueCover src=cover, alt=cover_alt if cover_alt else defaultAlt, class="m-0" %}

    <div class="catalogue--item-meta flex flex-1 items-center justify-center relative bottom-2">
      <div>
        <h2 class="mt-0 text-center">{{ title }}</h2>

        <section class="flex justify-between gap-14">
          <dl>
            <dt>Author</dt>
            <dd>{{ author }}</dd>

            <dt>Genre</dt>
            <dd>{{ genre }}</dd>

            {% if format %}
              <dt>Format</dt>
              <dd>{{ format }}</dd>
            {% endif %}

            {% if platform %}
              <dt>Platform</dt>
              <dd>{{ platform }}</dd>
            {% endif %}
          </dl>

          <dl>
            <dt>Started on</dt>
            <dd>{{ started_on | readableDate }}</dd>

            {% if ended_on %}
              <dt>Ended on</dt>
              <dd>{{ ended_on | readableDate }}</dd>
            {% endif %}

            {% if playtime %}
              <dt>Playtime</dt>
              <dd>{{ playtime }}</dd>
            {% endif %}

            {% if pages %}
              <dt>Pages</dt>
              <dd>{{ pages }}</dd>
            {% endif %}
          </dl>
        </section>
      </div>
    </div>
  </header>

  <h2 class="mb-3 mt-0">Quick thoughts</h2>
  <section class="px-2">
    {{ content | typogrify | safe }}
  </section>
</article>
