<div class="socials">
  <a href="https://twitter.com/_princesseuh" title="Link to my Twitter profile" class="twitter">{% include '../../theme/assets/twitter.svg' %}</a>
  <a href="https://github.com/Princesseuh" title="Link to my GitHub profile" class="github">{% include '../../theme/assets/github.svg' %}</a>
  <a href="mailto:princssdev@gmail.com" title="Link to email me" class="envelope">{% include '../../theme/assets/envelope.svg' %}</a>
</div>
