---
eleventyExcludeFromCollections: true
layout: layouts/_base.njk
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - wiki
    - project
    - all
    - latestWiki
    - tagListPosts
permalink: /articles/tags/{{ tag }}/
---

{% from 'minipost.njk' import miniPost %}

<article class="w-articleList mx-auto flex">
  <div class="w-[80%]">
    <h2>Articles tagged "{{ tag }}"</h2>
    {% set taglist = collections[ tag ] %}
    {% for post in taglist | reverse %}
      {{ miniPost(post) }}
    {%- endfor %}
  </div>

  <aside class="w-[20%]">
    <section>
    <h2>Tags</h2>
    <ul>
      {%- for ttag in collections.tagListPosts | sort(collections.tagListPosts, true, false, collections[tag].length) -%}
        {% set tagUrl %}/articles/tags/{{ ttag }}/{% endset %}
        <li>
          <a {% if ttag == tag %}class="current--page"{% endif %} href="{{ tagUrl | url }}">
            {{ ttag }} ({{ collections[ttag].length }})
          </a>
        </li>
      {%- endfor -%}
    </ul>
  </aside>
</article>


